NEXT_PUBLIC_CONTRACT_ADDRESS=0xC35EF98137855e8e7154fbd7c8C918b055eEd7a9
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=bc_1qw80tpu
NEXT_PUBLIC_BASE_APP_ID=6a5f3aa7078f6baf9ef30020
NEXT_PUBLIC_DATA_SUFFIX=[Encoded String]
