NEXT_PUBLIC_CONTRACT_ADDRESS=[contract address]
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=[Builder Code]
NEXT_PUBLIC_BASE_APP_ID=6a5f3aa7078f6baf9ef30020
NEXT_PUBLIC_DATA_SUFFIX=[Encoded String]
