NEXT_PUBLIC_CONTRACT_ADDRESS=[contract address]
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
NEXT_PUBLIC_BUILDER_CODE=[Builder Code]
NEXT_PUBLIC_BASE_APP_ID=[base.dev Verify token]
NEXT_PUBLIC_DATA_SUFFIX=[Encoded String]
